# Client
VITE_API_URL=http://localhost:8000/api
VITE_SERVER_URL=http://localhost:8000

# Server
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
DB_NAME=

DATABASE_URL="postgresql+asyncpg://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

JWT_SECRET_KEY=
JWT_ALGORITHM=

CLIENT_URL=http://localhost:5173

# event-consumers

KAFKA_URL=
KAFKA_URL_2=